@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca&display=swap");

:root {
  --clr-bright-orange: hsl(31, 77%, 52%);
  --clr-dark-cyan: hsl(184, 100%, 22%);
  --clr-very-dark-cyan: hsl(179, 100%, 13%);
  --clr-transparent-white: hsla(0, 0%, 100%, 0.75);
  --clr-light-gray: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.section-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  background-color: var(--clr-light-gray);
}

.services-center {
  display: flex;
  height: 50rem;
  width: 92rem;
  overflow: hidden;
  border-radius: 1rem;
}

.service {
  padding: 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--clr-transparent-white);
}

.service--sedans {
  background-color: var(--clr-bright-orange);
}

.service--suvs {
  background-color: var(--clr-dark-cyan);
}

.service--luxury {
  background-color: var(--clr-very-dark-cyan);
}

.service__image {
  margin-bottom: 3.1rem;
}

.service__heading {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  color: var(--clr-light-gray);
  margin-bottom: 2.5rem;
}

.service__description {
  line-height: 1.68;
  color: var(--clr-transparent-white);
}

.btn {
  margin-top: auto;
  border: none;
  padding: 1.45rem 3.2rem;
  border-radius: 3rem;
  max-width: 15rem;
  font-size: inherit;
  font-family: inherit;
  text-transform: capitalize;
  cursor: pointer;
  background-color: var(--clr-light-gray);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  border: 0.1rem solid var(--clr-light-gray);
  color: var(--clr-light-gray);
}

.btn--sedans {
  color: var(--clr-bright-orange);
}

.btn--sedans:hover {
  background-color: var(--clr-bright-orange);
}

.btn--suvs {
  color: var(--clr-dark-cyan);
}

.btn--suvs:hover {
  background-color: var(--clr-dark-cyan);
}

.btn--luxury {
  color: var(--clr-very-dark-cyan);
}

.btn--luxury:hover {
  background-color: var(--clr-very-dark-cyan);
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1024px) {
  .section-center {
    padding: 2rem;
  }

  .services-center {
    display: flex;
    flex-direction: column;
    max-width: 32.7rem;
    min-width: 32.7rem;
    min-height: 132.6rem;
    max-height: 132.6rem;
    overflow: hidden;
    border-radius: 1rem;
  }

  .service {
    min-height: 44.2rem;
  }
}
